<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>As a data scientist, I have a passion for uncovering insights and patterns from data to drive business outcomes. With a strong foundation in statistics, programming, and machine learning, I have experience in developing end-to-end solutions to complex problems. I specialize in using data to inform decision-making, optimize processes, and improve performance. </p>
      </div>
      <div class="col-lg-4">
        <p>Throughout my career, I have worked on projects across a variety of industries, including healthcare, finance, and e-commerce. My portfolio showcases my expertise in data analysis, visualization, and predictive modeling. I am committed to staying up-to-date with the latest advancements in the field and using my skills to make a positive impact in the world. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> CV
        </a>
      </div>
    </div>
  </div>
</section>
